// Place all the styles related to the suggestions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.embed-container {
    position: relative;
    padding-bottom: 15%;
    overflow: hidden;
    max-width: 25%;
    height: auto;
}
    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.address p {
  margin: 0;
}

.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
