// Place all the styles related to the suggestions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  color: #C26244;
}

a:hover {
  text-decoration: none;
  color: #7C3721;
}

.page-title {
  color: #C26244;
  font-size: 5rem;
  text-align: center;
}

/** Nav **/

nav.navbar {
  padding: 1rem 4rem;
  border-radius: 0;
}

.navbar-brand {
  margin: 0 auto;
  font-size: 2.5rem;
}

.navbar-text {
  margin: .2rem 0 0 0;
}

div.navbar-right {
  margin-right: 0;
  padding-right: 2rem;
}

form.navbar-right {
  display: inline-block;
  padding: 15px 15px;
}

.navbar-user-info {
  display: inline-block;
  // margin-right: 1rem;
}

.navbar-user-info form {
  padding: 9px 0;
}

.user-img {
  width: 65px;
}

.user-img img {
  width: 82%;
}


/** Home **/

.jumbotron {
  text-align: center;
  color: #C26244;
}

div.search {
  width: 35%;
  margin: 2rem auto;
}

.search .form-control {
  height: 43px;
  font-size: 17px;
  margin-bottom: 2rem;
}

.search select {
  text-indent: 46%;
}



/** Suggestions Partial **/

.suggestion {
  padding: 7rem;
}

.suggestion > div {
  margin: 1rem auto;
}

.marketing .col-lg-4 {
  margin-bottom: 20px;
  // text-align: center;
}

.marketing .img-circle {
  width: 100%;
}

.fav {
  font-size: 3rem;
}

.outline {
  color: black;
     -webkit-text-fill-color: white; /* Will override color (regardless of order) */
     -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: black;
}

.address p {
  margin: 0;
}

.music-info {
  clear: both;
}

.music-info a {
  display: block;
}

.embed-container {
    position: relative;
    padding-bottom: 15%;
    overflow: hidden;
    max-width: 100%;
    min-height: 8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
