<h2>Suggestion</h2>

<strong>Suggestion Id:</strong> <%= suggestion["id"] %></br>
<strong>Food Id:</strong> <%= suggestion["food_id"] %></br>
<strong>Spotify Suggestion:</strong> <%= suggested_music(suggestion["music_id"], suggestion["music_type"]) %></br>
