<h2>Suggestion</h2>

<strong>Food Id:</strong> <%= suggestion["food_id"] %></br>
<strong>Music Id:</strong> <%= suggestion["music_id"] %></br>
<strong>Music Type:</strong> <%= suggestion["music_type"] %></br>
