<h2>Suggestion</h2>

<strong>Food Id:</strong> <%# suggestion["food_id"] %></br>

<strong>Check out this <%= suggestion[:music].type %>!</strong>
  <ul>
    <li><%= link_to suggestion[:music].name, suggestion[:music].links["spotify"] %></li>
    <li>
        <% if suggestion[:music].image %>
          <li><%= image_tag suggestion[:music].image %></li>
        <% end %>
    </li>
    <li>Maybe I'll have an embedded player here...</li>
  </ul>
